.header {

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    
}

.timer {

}

.high-scores {

}

.welcome {


}

.welcome-title {

}

.start-button {


}

.question {

}

.prompt-question {

}

.answer-options {

}

button {
background-color: rgb(255, 200, 255, .5);
}

.right-wrong {

}

.all-done {

}

.your-score {

}

.enter-initials {


}

.display-scores {

}

.scores-list {

}

